package components

import "gotta/internal/models"
import "gotta/web/viewmodels"
import "gotta/web/layouts"

templ TodoPage(todos []models.Todo, card viewmodels.CardModel) {
    @layouts.Base(viewmodels.PageMeta{
		Title: card.Title,
		Description: card.Description,
	}){
		<div class="h-full flex items-center justify-center">
			<div class="w-full max-w-lg" x-data="{ filter: 'all' }">
				@Card(card) {
					@TodoForm()
					@TodoFilters()
					<div id="todo-list" class="px-4 pb-4 max-h-[55vh] overflow-y-auto">
						@TodoList(todos)
					</div>
				}
			</div>
		</div>
    }
}






